<div class="container container-form">
  <h2>New listing</h2>

  <%= simple_form_for(@listing) do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :photo, as: :file %>
    <%= f.input :price_per_hour, input_html: { min: '0' }  %>
    <%= f.input :location %>
    <%= f.input :category_type, placeholder: "Please enter Electronic, Manual, Gas-Powered or Other", collection: ["Electronic", "Manual", "Gas-powered", "Other"]%>

    <div class="buttons">
      <%= f.submit class: "button button-primary left" %>
      <%= link_to "Back to my listings", listings_path, class: "button button-primary right" %>
      <div class="clearfix">
      </div>
    </div>
  <% end %>
</div>
