<div class="container">

  <div class="row mb-3 show-card-img-container">
    <div class="col-sm-12 col-md-6 col-lg-4 show-card-img">
      <% if @listing.photo.attached? %>
        <%= cl_image_tag @listing.photo.key, width: 250, height: 200, crop: :fill %>
      <% end %>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4 card-body show-card-body">
      <h5 class="card-title my-3"><%= @listing.name %></h5>
      <p class="card-text"><%= @listing.description %></p>
      <div>
        <p class="card-text show-card-price"><small class="text-muted">Per hour: <%= @listing.price_per_hour.to_i.round(2) %> CHF</small></p>
      </div>

    <% if @listing.user != current_user %>
      <%= simple_form_for([@listing, @booking]) do |f| %>
        <%= f.input :start_date %>
        <%= f.input :end_date %>
        <br>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
        <%= f.button :submit, value: "REQUEST BOOKING", id: "book" %>
        <br>
      <% end %>
    <% else %>
      <p class="card-text"><strong>This is your listing.</strong><br>You can edit or delete your listing below.</p>
      <%= link_to "View bookings for this listing", listing_bookings_path(@listing), class: "button button-primary" %>
    <% end %>

    </div>
  </div>
  <hr>

  <div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  <hr>


  <div>
    <% if @listing.user == current_user %>
      <%= link_to "Edit this listing", edit_listing_path(@listing), class: "button button-primary"  %>
      <br>
      <br>
      <%= button_to "Destroy this listing", @listing, method: :delete, class: "button button-primary" %>
    <% end %>
    <hr>
    <%= link_to "Go to all listings", root_path, class: "button button-primary" %>
    <hr>
    <%= link_to "Go to my listings", listings_path, class: "button button-primary" %>
  </div>

</div>
