<div class="card-trip">
  <div class="col card-component text-decoration-none">
    <%# <img class="d-block w-100 image" src="https://random.imagecdn.app/100/150" alt="First slide"> %>
    <% if listing.photo.attached? %>
        <%= cl_image_tag listing.photo.key, width: 250, height: 200, crop: :fill %>
      <% end %>
  </div>
  <div class="card ">
    <div class="card-header card-location-height">
      <i class="fa-solid fa-location-pin "></i> <%= listing.location %>
    </div>
    <div class="card-body card-title-height">
      <h4 class="card-title"><%= listing.name %></h4>
    </div>
    <div class="card-body card-body-height">
      <p class="card-text card-body-description"><%= listing.description %></p>
    </div>
    <div class="card-body pb-0">
      <p class="card-text card-body-description"><%= listing.category_type%></p>
    </div>
    <div class="card-body card-price-height">
      <p class="card-text"><i class="fa-sharp fa-solid fa-sack-dollar"></i> Per hour: <br><%= listing.price_per_hour.to_i.round(2) %> CHF</p>
    </div>
  </div>
  <%= link_to '', listing_path(listing), class: 'card-link' %>
</div>
